{% extends 'base.html' %}

{% block head %}
Contact information
{% endblock %}
{% block body %}

<div>
  <h4>The website is based on the publication in {/journal}: <br></br> 
  Diversity matters: Widening the chemical space in organic solvent nanofiltration</h4>
  <h4>DOI: XXX-XXX-XXX</h4>
  <h4>Authors: Gergo Ignacz, Cong Yang, Gyorgy Szekely</h4>
  <h5>Please contact us on: <a href=mailto:info@osndatabase.com?subject="HTML link">info@osndatabase.com</a></h5>
  <p>Advanced Membranes and Porous Materials Center,<br></br> 
    Physical Science and Engineering Division (PSE),<br></br> 
    King Abdullah University of Science and Technology (KAUST),<br></br> 
    Thuwal, 23955-6900,<br></br> 
    Saudi Arabia</p>


</div>
{% endblock %}