{% extends 'base.html' %}

{% block head %}
Enantioseparation
{% endblock %}
{% block body %}



<div class="card">
    <div class="card-header">
      Process modeling - Enantioseparation
    </div>
    <div class="card-body">
      <h5 class="card-title">Process performance prediction for enantioselective OSN</h5>
      <p class="card-text" style="font-size:130%">
        Demonstrative page for the application of dynamic models in predicting enantioselective organic solvent nanofiltration performance.
        Our model predicts the enantiomeric excess and recovery in the product stream(s) as a function of stage cut. 
        The enantiomer excess and the recovery of the solutes only depend on the stage cut, the rejection of the two enantiomers and the ratio of their concentration in the feed. 
        Stage cut is defined as the ratio of the permeate and total output volumetric flow, while rejection is expressed with the concentration of the solute in the permeate and retentate:</p>
        <div class="text-center">
        <p><img class="rounded" src="/static/theta_rej.png" alt="Card image cap" height="46" ></p>
        </div>
        <p class="card-text" style="font-size:130%">
        Enantiomeric excess is used to describe the chiral purity of a solution with the concentration of the enantiomers R and S, while recovery describes the percentage of the target solute mass flow recovered from the feed solution.</p>
        <div class="text-center">
        <p><img class="rounded" src="/static/ee_eta.png" alt="Card image cap" height="40" ></p>
        </div>
        <p class="card-text" style="font-size:130%">
        The enantiomeric excess and recovery values are calculated for three different OSN configurations:</p>
        <ul class="card-text" style="font-size:130%">
        <li>Single stage nanofiltration</li>
        <li>Single stage nanofiltration with retentate stream racemization and recycling (SRR). Calculations assume 99% racemization in the reactor.</li>
        <li>Two-stage permeate cascade with recycling (where the volumetric flow of the permeate stream of the first stage is equal to the feed flow). In this case the stage cut is defined for the overall process.</li></ul>
        <p class="card-text" style="font-size:130%">
        To calculate an analysis, please enter the rejection values of the two enantiomers and the ratio of the R solute in the feed stream (50% is set as default for racemic feed).
        The process schemes for the different configurations can be found below. For more details, please visit the corresponding article at DOI: (to be submitted). Please use the article as a reference when using the performance prediction tool. Thank you!
        </p>
        <div class="text-center">
        <p><img class="rounded" src="/static/config.png" alt="Card image cap" width="1300" ></p>
        </div>
        
            <div class="content">
                {% if tasks|length < 1 %}
                <p style="text-align: center">Please enter the values below!</p>
                {% else %}
                <div class="text-center">
                <p><b> {{ tasks[3] }} </b></p>
                {% if tasks[3] == "" %}
                <p> <img src="{{url_for('static', filename='theta.png')}}" alt="most" height="500" width="1000" class="rounded">  </p>
                {% endif %}
                </div>
                {% endif %}
            
                <div class="form">
                    <form style="text-align: center" action="/enantioseparation" method="POST">
                        <input type="text" name="r_rejection" id="r_rejection" placeholder='Rejection of R in %'>
                        <input type="text" name="s_rejection" id="s_rejection" placeholder='Rejection of S in %'>
                        <input type="text" name="racemate" id="racemate" placeholder='R product ratio in %' value="50">
                        <br></br>
                        <input type="submit" value="Predict">
                    </form>
                </div>
                <p></p>
                <p>

                </p>
            </div>
        
            <!-- <div class="form">
                <form style="text-align: center">
                    <input type="text" name="content" id="r_rejection" placeholder='Rejection of R in %'>
                </form>
                
                <form style="text-align: center">
                    <input type="text" name="content" id="s_rejection" placeholder='Rejection of S in %'>
                </form>

                <form style="text-align: center" action="/pls-prediction" method="POST">
                    <input type="text" name="content" id="racemate" placeholder='Racemate ratio in %'>
                    <br></br>
                    <input type="submit" value="Predict">
                </form>
            </div> -->
    </div>
  </div>
{% endblock %}