{% extends 'base.html' %}

{% block head %}
Legal notice
{% endblock %}
{% block body %}
    <div class="col-md-10">
      <div class="h-100 p-5 text-black rounded-6">
        <h2>Legal notice and fair use</h2>
        <p style="font-size:160%">
          The dataset is available under the Creative Commons Attribution 4.0 International license (CC-BY).<br></br> 
          The dataset is accessible for scientific and commercial purposes, but the republication of the dataset, 
          and its complete or partial republishing are not permitted in any form, media or platform including publications, 
          databases, thesis, websites, software and repositories. The dataset is watermarked for traceability.<br></br>
          If you have any questions regarding the usability of the data we provided, <a href="/contact">please contact us</a>.
          </div>
    </div>
    </div>
    <div class="col-sm">        
    </div>
  </div>
</div>
{% endblock %}