{% extends 'base.html' %} {% block head %} OSN Database {% endblock %} {% block
body %}
<!-- 
<div class="container w-50 p-3 opacity-25">
    <div class="card-columns d-flex justify-content-center opacity-25">
      <div class="card opacity-25">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card with shorter text.</p>
        </div>
      </div>
    </div>
  </div> -->

<div class="col-md-10">
  <div class="h-100 p-5 text-black rounded-6">
    <h2>What is Organic Solvent Nanofiltration?</h2>
    <p style="font-size: 160%">
      Organic Solvent Nanofiltration (OSN) or Solvent-Resistant Nanofiltration
      (SRNF) is a pressure-driven membrane separation technology that is capable
      of distinguishing and separating solutes based on their physicochemical
      parameters. OSN offers a low-energy and continuous tool in the pharmaceutical, food, and fine chemical industry.
      <br></br>
      OSN has been primarily used in petrochemical and pharmaceutical industries [1],
      solute recovery, solvent recycling, and purification. In addition,
      OSN is considered a green and potentially sustainable separation technology
      due to its low energy consumption and waste generation.
    </p>
    <h2>Why do we need a database?</h2>
    <p style="font-size: 160%">
      Having a collection of scientific data would facilitate the development of
      membrane technology and their closely connected fields, such as chemistry and
      material science. Data-driven design would facilitate the traditionally slow trial-and-error material design
      methodologies.
      <br></br>

    </p>

    </p>

    </p>
  </div>
</div>

{% endblock %}