{% extends 'base.html' %} {% block head %} OSN Database {% endblock %} {% block
body %}
<!-- 
<div class="container w-50 p-3 opacity-25">
    <div class="card-columns d-flex justify-content-center opacity-25">
      <div class="card opacity-25">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card with shorter text.</p>
        </div>
      </div>
    </div>
  </div> -->

<div class="col-md-10">
  <div class="h-100 p-5 text-black rounded-6">
    <h2>What is Organic Solvent Nanofiltration?</h2>
    <p style="font-size: 160%">
      Organic Solvent Nanofiltration (OSN) or Solvent Resistant Nanofiltration
      (SRNF) is a pressure-driven membrane separation technology that is capable
      of distinguishing and separating solutes based on the physicochemical
      parameters. OSN offers a low-energy and continuous tool with extensive use
      in the pharmaceutical, food, and fine chemical industry. 
      <br></br>
      OSN has been primarily used in petrochemical and pharmaceutical industries [1], 
      solute recovery [2, 3], solvent recycling [4], and purification [5]. In addition,
      OSN is considered a green and potentially sustainable separation technology
      due to its low energy consumption and waste generation. 
    </p>
    <h2 >Why do we need a database?</h2>
      <p style="font-size: 160%">
        Having a collection of scientific data would facilitate the development of 
        membrane technology and their closely connected fields, such as chemistry and 
        material science.
        <br></br>
        
      </p>

      </p>
        <p>
            <ul>
                <li>[2] S. So, L.G. Peeva, E.W. Tate, R.J. Leatherbarrow, A.G. Livingston, Organic solvent nanofiltration: a new paradigm in peptide synthesis, Organic Process Research & Development, 14 (2010) 1313-1325.</li>
                <li>[3] J.F. Kim, P.R. Gaffney, I.B. Valtcheva, G. Williams, A.M. Buswell, M.S. Anson, A.G. Livingston, Organic solvent nanofiltration (OSN): a new technology platform for liquid-phase oligonucleotide synthesis (LPOS), Organic Process Research & Development, 20 (2016) 1439-1452.</li>
                <li>[4] J.F. Kim, G. Szekely, M. Schaepertoens, I.B. Valtcheva, M.F. Jimenez-Solomon, A.G. Livingston, In situ solvent recovery by organic solvent nanofiltration, ACS Sustainable Chemistry & Engineering, 2 (2014) 2371-2379.</li>
                <li>[5] G. Székely, J. Bandarra, W. Heggie, B. Sellergren, F.C. Ferreira, Organic solvent nanofiltration: A platform for removal of genotoxins from active pharmaceutical ingredients, Journal of Membrane Science, 381 (2011) 21-33.</li>
            
            </ul>

            
            
            
            
        </p>

    </p>
  </div>
</div>

{% endblock %}
